<!-- For listing user details -->
<table class="table table-striped" *ngIf="data && data.length">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>DOB</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data;let i = index" >
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.age}}
      </td>
      <td>
        {{item.dob}}
      </td>
      <td (click)="toModify(i)" class="btn btn-link">Edit</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" role="alert" *ngIf="!data || !data.length">
    No user data available, Please add to the list
  </div>
<a routerLink="/add"  class="btn btn-primary">Add</a>